*~
*.bak
.qmake.stash
.vscode
**/*.o
**/.obj
**/*.moc
moc_*.cpp
src/ui_*.h
src/shogimaru.js_plugin_import.cpp
Makefile
core
engines.json
kifu.dat
Gemfile.lock

**/*.dll
**/*.ilk
**/*.pdb
**/*.exe

.jekyll-cache/
docs/_site/
