* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  display: flex;
  height: 100vh;
}
.main {
  flex: 1;
  flex-basis: 0;
}
.side {
  flex-basis: 320px;
  min-width: 320px;
  padding: 10px;
}